<p>hello works!</p>
<h1 [style.color]="color" [style.border]="borderStyle">{{msg}}</h1>


<button class="btn btn-primary" (click)="changeColor()">change-color</button>

<br><br>
<img [src]="source" width="150" height="150">
<br><br>

<button  (click)="changeBorder()" [disabled]="isDisabled">change-border</button>
<!-- <h1 [style.font-size.px]="fontSize">{{msg}}</h1> -->

<!--
<table [style.border]="borderStyle">

  <tr>
      <td>Name</td>
      <td [style.color]="textColor" [style.border]="borderStyle">Hitesh Patwal</td>
  </tr>

</table>
 -->

